/* add css styles here (optional) */

.test {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popupiframe {
  background-color: #22222280;
  background-image: url(https://github.com/nclong87/nclong87.github.io/raw/master/web/images/spinner3.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
